__pycache__/
*.py[cod]
*.pyo
*.swp
*.log
.pytest_cache/
.mypy_cache/
.venv/
venv*/
whisperx_env/
visualization_app/__pycache__/
data/
*.mp4
*.wav
*.jsonl
*.csv
*.pkl
.git
.gitignore
.DS_Store
*.egg-info/
pip-wheel-metadata/
build/
dist/


