accelerate==0.34.2
faster-whisper>=1.1.1,<2.0.0
matplotlib==3.8.4
numpy>=2.0.2,<2.1.0
pandas==2.2.3
plotly==5.24.1
psutil==5.9.8
pydub==0.25.1
python-dotenv==1.0.1
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
streamlit==1.39.0
tqdm==4.66.5
transformers==4.45.2
whisperx==3.7.4


